@Html.Hidden("RangoCli")
@Html.Hidden("ProyectoProm")
@Html.Hidden("AntiguedadProm")

<div class="form-group col-sm-2">
    <div class="input-group">
        <div class="input-group-addon">C.F.</div>
        @Html.Editor("CargoFijoCalc", new { htmlAttributes = new { @class = "form-control", @placeholder = "S./" } })
    </div>
</div>

<div class="form-group col-sm-4">
    <div class="input-group">
        <div class="input-group-addon">
            Dscto <label>S./ @Html.RadioButton("RbDscto", true, htmlAttributes: new { id = "Soles" })</label>
            <label>% @Html.RadioButton("RbDscto", true, htmlAttributes: new { id = "Porcentaje" })</label>
        </div>
        @Html.DropDownList("DescuentoCalc", new SelectListItem[]{
                new SelectListItem() {Text = "S./50", Value="50"},
                new SelectListItem() {Text = "50%", Value="0.50"}}, "SELECC.", htmlAttributes: new { @class = "form-control" })
    </div>
</div>

<div class="form-group col-sm-3">
    <div class="input-group">
        <div class="input-group-addon">Mes a Aplicar</div>
        @Html.DropDownList("MesAplicarCalc", new SelectListItem[]{
                new SelectListItem() {Text = "1", Value="1"},
                new SelectListItem() {Text = "3", Value="3"},
                new SelectListItem() {Text = "6", Value="6"}}, "SELECC.", htmlAttributes: new { @class = "form-control" })
    </div>
</div>

<div class="form-group col-sm-3">
    <div class="input-group">
        <div class="input-group-addon">Ciclo</div>
        @Html.DropDownList("CicloCalc", new SelectListItem[]{
                new SelectListItem() {Text = "1", Value="1"},
                new SelectListItem() {Text = "2", Value="2"},
                new SelectListItem() {Text = "3", Value="3"},
                new SelectListItem() {Text = "4", Value="4"},
                new SelectListItem() {Text = "5", Value="5"},
                new SelectListItem() {Text = "6", Value="6"},
                new SelectListItem() {Text = "7", Value="7"},
                new SelectListItem() {Text = "8", Value="8"},
                new SelectListItem() {Text = "9", Value="9"},
                new SelectListItem() {Text = "10", Value="10"},
                new SelectListItem() {Text = "11", Value="11"},
                new SelectListItem() {Text = "12", Value="12"},
                new SelectListItem() {Text = "13", Value="13"},
                new SelectListItem() {Text = "14", Value="14"},
                new SelectListItem() {Text = "15", Value="15"},
                new SelectListItem() {Text = "16", Value="16"},
                new SelectListItem() {Text = "17", Value="17"},
                new SelectListItem() {Text = "18", Value="18"},
                new SelectListItem() {Text = "19", Value="19"},
                new SelectListItem() {Text = "20", Value="20"},
                new SelectListItem() {Text = "21", Value="21"},
                new SelectListItem() {Text = "22", Value="22"},
                new SelectListItem() {Text = "23", Value="23"},
                new SelectListItem() {Text = "24", Value="24"},
                new SelectListItem() {Text = "25", Value="25"},
                new SelectListItem() {Text = "26", Value="26"},
                new SelectListItem() {Text = "27", Value="27"},
                new SelectListItem() {Text = "28", Value="28"},
                new SelectListItem() {Text = "29", Value="29"},
                new SelectListItem() {Text = "30", Value="30"},
                new SelectListItem() {Text = "31", Value="31"}}, "SELECC.", htmlAttributes: new { @id = "CicloCalc", @class = "form-control" })
    </div>
</div>

<div class="form-group col-sm-3">
    <div class="input-group">
        <div class="input-group-addon">Concepto</div>
        @Html.DropDownList("ConceptoCalc", new SelectListItem[]{
                new SelectListItem() {Text = "1PLAY", Value="1PLAY"},
                new SelectListItem() {Text = "2PLAY", Value="2PLAY"},
                new SelectListItem() {Text = "3PLAY", Value="3PLAY"}}, "SELECC.", htmlAttributes: new { @class = "form-control" })
    </div>
</div>

<div class="form-group col-sm-3">
    <div class="input-group">
        <div class="input-group-addon">Servicio</div>
        @Html.DropDownList("ServicioCalc", new SelectListItem[]{
                new SelectListItem() {Text = "INTERNET", Value="INTERNET"},
                new SelectListItem() {Text = "TV", Value="TV"},
                new SelectListItem() {Text = "TELEFONÍA", Value="TELEFONÍA"},
                new SelectListItem() {Text = "INT+TLF", Value="INT+TLF"},
                new SelectListItem() {Text = "INT+TV", Value="INT+TV"},
                new SelectListItem() {Text = "TV+TLF", Value="TV+TLF"},
                new SelectListItem() {Text = "INT+TV+TLF", Value="INT+TV+TLF"}}, "SELECC.", htmlAttributes: new { @class = "form-control" })
    </div>
</div>

<div class="form-group col-sm-3">
    <div class="input-group">
        <div class="input-group-addon">Nro Caso</div>
        @Html.Editor("NroCaso", new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>

<div class="form-group col-sm-3">
    <div class="input-group">
        <div class="input-group-addon">Últ.Int.Prom.</div>
        @Html.Editor("InteraccPromAnterior", new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>

@*<div class="form-group">
        <label><input type="checkbox" id="PromocionAdelantadaBtn" data-toggle="collapse" data-target="#PromocionAdelantadaDiv,#PlantillaPromocionAdelantadaNCDiv" /> Prom Adelantada</label>
    </div>*@

<div id="PaquetesBtnDiv" class="form-group col-sm-12">
    <label><input type="checkbox" id="PaquetesBtn" /> Paquetes</label>
</div>

<div class="form-group col-sm-5 paquetesopen" style="display:none;">
    <div class="input-group">
        <div class="input-group-addon">Paquete</div>
        @Html.DropDownList("PaquetesPaq1", new SelectListItem[]{
                    new SelectListItem() {Text = "FOX+ (Canales 10 SD y 07 HD)", Value="FOX+"},
                    new SelectListItem() {Text = "HBO (Canales 09 SD y 09 HD)", Value="HBO"},
                    new SelectListItem() {Text = "HD MAX (44 HD)", Value="HD MAX"},
                    new SelectListItem() {Text = "GOLDEN PREMIER (Canales 02 SD y 02 HD)", Value="GOLDEN PREMIER"},
                    new SelectListItem() {Text = "HOTPACK HD (Canales 03 SD y 01 HD)", Value="HOTPACK HD"},
                    new SelectListItem() {Text = "NHK (Canal 01 SD)", Value="NHK"},
                    new SelectListItem() {Text = "FIGHTING SPORTS NETWORK (Canales 01 SD y 01 HD)", Value="FIGHTING SPORTS NETWORK"},
                    new SelectListItem() {Text = "UPGRADE DE HOGAR A CINE HD DIGITAL (Canales 38 SD y 09 HD)", Value="UPGRADE DE HOGAR A CINE HD DIGITAL"}}, "SELECCIONE", htmlAttributes: new { @class = "form-control especial2" })
    </div>
</div>

<div class="form-group col-sm-2 paquetesopen" style="display:none;">
    <div class="input-group">
        <div class="input-group-addon">Costo</div>
        @Html.Editor("CostoPaq1", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
</div>

<div class="form-group col-sm-3 paquetesopen" style="display:none;">
    <div class="input-group">
        <div class="input-group-addon">Mes Paq. Activo</div>
        @Html.DropDownList("MesPaq", new SelectListItem[]{
                    new SelectListItem() {Text = "1", Value="1"},
                    new SelectListItem() {Text = "2", Value="2"},
                    new SelectListItem() {Text = "3", Value="3"}}, "SELECCIONE", htmlAttributes: new { @class = "form-control especial2" })
    </div>
</div>

<div id="RealizoCambioPlanBtnDiv" class="form-group col-sm-12">
    <label><input type="checkbox" id="RealizoCambioPlanBtn" /> Realizó Cambio de Plan</label>
</div>

<div class="form-group col-sm-3 cambioopen" style="display:none;">
    <div class="input-group">
        <div class="input-group-addon">CF Antigüo</div>
        @Html.Editor("CFCamb", new { htmlAttributes = new { @class = "form-control", @placeholder = "S./" } })
    </div>
</div>

<div class="form-group col-sm-6 cambioopen" style="display:none;">
    <label> </label>
</div>

<div class="collapse" id="PlantillaPromocionSIACDiv">
    <div class="form-group">
        <label>Plantilla Promoción SIAC</label>
        @Html.Editor("PlantillaPromocionSIAC", new { htmlAttributes = new { @class = "form-control especial3 promsiac", @readonly = "readonly" } })
    </div>
</div>
